#Start, #Minute { 
    transition: all 1s ease;
}

#Start {
    opacity: 0;
}

svg:hover #Start { 
    opacity: 1;
}

svg:hover #Minute {
    transform: rotate(-85deg);
    transform-origin: 50px 52px;
}

div {
    text-align: center;
}