<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" href="/static/css/pico.min.css" />
  <title>{% block title %}{% endblock %}</title>
  <script src="/static/js/htmx.min.js"></script>
</head>

<body>
  <main class="container">
    <nav hx-boost="true">
      <ul>
        <li><img height="32" src="/static/img/icon.png" style="height: 32px !important;" /></li>
      </ul>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/pricing">Pricing</a></li>
      </ul>
    </nav>

    <article class="container-fluid">
      
      {% block content %}{% endblock %}

    </article>
  </main>
</body>

</html>